<a href="https://colab.research.google.com/github/B-Meister/DS-Unit-2-Linear-Models/blob/master/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
# else:
#     DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd
import plotly.express as px
from sklearn.metrics import mean_absolute_error
import sklearn.metrics as metrics
from sklearn.linear_model import LinearRegression



# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df['interest_numeric'] = df['interest_level'].replace({'low':1,'medium':2,'high':3})

# df['interest_level'].replace('low',1, inplace=True)
# df['interest_level'].replace('medium',2, inplace=True)
# df['interest_level'].replace('high',3, inplace=True)

In [4]:
df

       bathrooms  bedrooms  ... common_outdoor_space interest_numeric
0            1.5         3  ...                    0                2
1            1.0         2  ...                    0                1
2            1.0         1  ...                    0                3
3            1.0         1  ...                    0                1
4            1.0         4  ...                    0                1
...          ...       ...  ...                  ...              ...
49347        1.0         2  ...                    0                2
49348        1.0         1  ...                    1                1
49349        1.0         1  ...                    0                1
49350        1.0         0  ...                    0                1
49351        1.0         2  ...                    0                1

[48817 rows x 35 columns]

In [18]:
#trying to make a column that sums all the ameneties for each apartment 

# df['perks'] = df[df.columns[10:-2].sum()]

df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df

       bathrooms  bedrooms  ... month total_rooms
0            1.5         3  ...     6         4.5
1            1.0         2  ...     6         3.0
2            1.0         1  ...     4         2.0
3            1.0         1  ...     4         2.0
4            1.0         4  ...     4         5.0
...          ...       ...  ...   ...         ...
49347        1.0         2  ...     6         3.0
49348        1.0         1  ...     4         2.0
49349        1.0         1  ...     4         2.0
49350        1.0         0  ...     4         1.0
49351        1.0         2  ...     4         3.0

[48817 rows x 38 columns]

In [6]:
df['create_date'] = pd.to_datetime(df['created'], infer_datetime_format=True) 
df['create_date'].describe()

count                   48817
unique                  48148
top       2016-05-14 01:11:03
freq                        3
first     2016-04-01 22:12:41
last      2016-06-29 21:41:47
Name: create_date, dtype: object

In [7]:
#separating the data set - need the train and test - 


df['month'] = df['create_date'].dt.month

train = df[(df['month'] == 4) | (df['month'] == 5)] #april and may
test = df[df['month'] == 6] #june

# train = df[(df['created'].dt.month==4) | (df['created'].dt.month==5)]
# test = df[df['created'].dt.month==6]

test

       bathrooms  bedrooms  ...         create_date month
0            1.5         3  ... 2016-06-24 07:54:24     6
1            1.0         2  ... 2016-06-12 12:19:27     6
11           1.0         1  ... 2016-06-03 03:21:22     6
14           1.0         1  ... 2016-06-01 03:11:01     6
24           2.0         4  ... 2016-06-07 04:39:56     6
...          ...       ...  ...                 ...   ...
49305        1.0         2  ... 2016-06-16 04:20:46     6
49310        1.0         3  ... 2016-06-21 06:25:35     6
49320        1.0         1  ... 2016-06-02 13:24:18     6
49332        1.0         2  ... 2016-06-06 01:22:44     6
49347        1.0         2  ... 2016-06-02 05:41:05     6

[16973 rows x 37 columns]

In [8]:
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                         object
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
interest_numeric                 int64
create_date             datetime64[ns]
month                            int64
dtype: object

In [9]:
# what are you aiming to calculate 

target = 'price'

features = df.columns[df.dtypes=='int']
features = features.drop ('month')
features = features.drop ('price')


print(f'Linear Regression, dependent on: {features}')
print ("")
print(f'Linear Regression, independent variable: {target}')



x_train = train[features]
x_test = test[features]

x_train

# y_train = train[target]
# y_test = test[target]

Linear Regression, dependent on: Index(['bedrooms', 'elevator', 'cats_allowed', 'hardwood_floors',
       'dogs_allowed', 'doorman', 'dishwasher', 'no_fee',
       'laundry_in_building', 'fitness_center', 'pre-war', 'laundry_in_unit',
       'roof_deck', 'outdoor_space', 'dining_room', 'high_speed_internet',
       'balcony', 'swimming_pool', 'new_construction', 'terrace', 'exclusive',
       'loft', 'garden_patio', 'wheelchair_access', 'common_outdoor_space',
       'interest_numeric'],
      dtype='object')

Linear Regression, independent variable: price

       bedrooms  elevator  ...  common_outdoor_space  interest_numeric
2             1         0  ...                     0                 3
3             1         0  ...                     0                 1
4             4         0  ...                     0                 1
5             4         0  ...                     0                 2
6             2         0  ...                     0                 1
...         ...       ...  ...                   ...               ...
49346         1         1  ...                     0                 2
49348         1         1  ...                     1                 1
49349         1         1  ...                     0                 1
49350         0         1  ...                     0                 1
49351         2         0  ...                     0                 1

[31844 rows x 26 columns]

In [10]:
model_learn = LinearRegression() #instantiating the class
model_learn.fit(train[features], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_train = model_learn.predict(x_train)
y_test = model_learn.predict(x_test)

In [0]:
train_rmse = np.sqrt(metrics.mean_squared_error(train[target], y_train))
train_mae = metrics.mean_absolute_error(train[target], y_train)
train_r2 = metrics.r2_score(train[target], y_train)
test_rmse = np.sqrt(metrics.mean_squared_error(test[target], y_test))
test_mae = metrics.mean_absolute_error(test[target], y_test)
test_r2 = metrics.r2_score(test[target], y_test)

In [0]:
mean = np.mean(df[target])
baseline_rmse = np.sqrt(metrics.mean_squared_error(df[target],np.linspace(mean, mean, len(df[target]))))
baseline_mae = metrics.mean_absolute_error(df[target], np.linspace(mean, mean, len(df[target])))
baseline_r2 = metrics.r2_score(df[target],np.linspace(mean, mean, len(df[target])))

In [16]:
print(f'Features: {features}')
print(f'Baseline Root Mean Squared Error: {baseline_rmse}')
print(f'Baseline Mean Absolute Error: {baseline_mae}')
print(f'Baseline R^2 score: {baseline_r2}')
print(f'Train Root Mean Squared Error: {train_rmse}')
print(f'Train Mean Absolute Error: {train_mae}')
print(f'Train R^2 score: {train_r2}')
print(f'Test Root Mean Squared Error: {test_rmse}')
print(f'Test Mean Absolute Error: {test_mae}')
print(f'Test R^2 score: {test_r2}')

Features: Index(['bedrooms', 'elevator', 'cats_allowed', 'hardwood_floors',
       'dogs_allowed', 'doorman', 'dishwasher', 'no_fee',
       'laundry_in_building', 'fitness_center', 'pre-war', 'laundry_in_unit',
       'roof_deck', 'outdoor_space', 'dining_room', 'high_speed_internet',
       'balcony', 'swimming_pool', 'new_construction', 'terrace', 'exclusive',
       'loft', 'garden_patio', 'wheelchair_access', 'common_outdoor_space',
       'interest_numeric'],
      dtype='object')
Baseline Root Mean Squared Error: 1762.4127206231178
Baseline Mean Absolute Error: 1201.532252154329
Baseline R^2 score: 0.0
Train Root Mean Squared Error: 1292.322526215662
Train Mean Absolute Error: 842.730973312501
Train R^2 score: 0.46213129331923897
Test Root Mean Squared Error: 1285.3365352901735
Test Mean Absolute Error: 844.646635379268
Test R^2 score: 0.4684431454700976

In [0]:
# features = ['bathrooms', 'bedrooms','interest_level']
# print(f'Linear Regression, dependent on: {features}')

# x_train = train[features]
# x_test = test[features]

In [0]:
# multi_model = LinearRegression()
# multi_model.fit(X_train, y_train)

In [0]:
# y_pred = multi_model.predict(x_train)
# mean_absolute_error = (y_train,y_pred)
# mse = metrics.mean_squared_error(df[target], y_pred)
# r2 = metrics.r2_score(df[target], y_pred)

In [0]:
# y_pred = multi_model.predict(x_test)
# mean_absolute_error(y_test, y_pred)